{% extends 'base.html' %}
{% load user_tags %}
{% block content %}
<h2>{{ toy.name }}</h2>
{% if toy.image %}
  <img src="{{ toy.image.url }}" alt="{{ toy.name }}" style="max-width: 300px; display: block; margin-bottom: 20px;">
{% endif %}
<p><b>Артикул:</b> {{ toy.code }}</p>
<p><b>Вид:</b> {{ toy.toy_type }}</p>
<p><b>Производитель:</b> {{ toy.manufacturer }}</p>
<p><b>Цена:</b> {{ toy.price }} ₽</p>
<p><b>В наличии:</b> {{ toy.in_stock }}</p>
<p>{{ toy.description }}</p>
{% if user|is_client and toy.is_active and toy.in_stock > 0 %}
  <a href="{% url 'production:buy' toy.pk %}" class="btn btn-success">Купить</a>
{% elif toy.is_active and toy.in_stock > 0 %}
  <p><em>Только для покупателей</em></p>
{% else %}
  <p><em>Нет в наличии</em></p>
{% endif %}
<a href="{% url 'production:catalog' %}" style="display:block; margin-top:20px;">Назад в каталог</a>
{% endblock %}