{% extends 'base.html' %}
{% load user_tags %}


{% block content %}
    <div>

        {% if user|is_admin %}
            <div>
                <hr>
                <a href="{% url 'real_estate:create' %}">Добавить объект</a>
                <hr>
            </div>
        {% endif %}

        <form method="GET" action="{% url 'real_estate:catalog' %}">
            <div>
                <input type="text" 
                       name="q" 
                       placeholder="Поиск по названию, описанию или локации"
                       value="{{ request.GET.q }}">
                <button type="submit">Найти</button>
            </div>
            
            <div>
                <label>Сортировать по:</label>
                <select name="sort">
                    <option value="">---</option>
                    <option value="price_asc" {% if request.GET.sort == 'price_asc' %}selected{% endif %}>
                        Цена (по возрастанию)
                    </option>
                    <option value="price_desc" {% if request.GET.sort == 'price_desc' %}selected{% endif %}>
                        Цена (по убыванию)
                    </option>
                    <option value="title_asc" {% if request.GET.sort == 'title_asc' %}selected{% endif %}>
                        Название (А-Я)
                    </option>
                    <option value="title_desc" {% if request.GET.sort == 'title_desc' %}selected{% endif %}>
                        Название (Я-А)
                    </option>
                </select>
            </div>

            <div>
                <h4>Категории:</h4>
                <div>
                    {% for category in all_categories %}
                    <label>
                        <input type="checkbox" 
                            name="categories" 
                            value="{{ category.slug }}"
                            {% if category.slug in selected_categories %}checked{% endif %}>
                        {{ category.name }}<br>
                    </label>
                    {% endfor %}
                </div>
            </div>

            <div>
                <button type="submit">Применить фильтры</button>
                <a href="{% url 'real_estate:catalog' %}">Сбросить</a>
            </div>
        </form>
    </div>

    {% if real_estate.exists %}
    <h2>Список объектов недвижимости</h2>
    <div>
        {% for obj in real_estate %}
        <div>

            {% if user|is_admin %}
                <div>
                    <h3>{{ obj.title }}</h3>
                    <div>
                        <a href="{% url 'real_estate:edit' obj.slug %}">Изменить</a>
                        <a href="{% url 'real_estate:delete' obj.slug %}">Удалить</a>
                    </div>
                </div>
            {% endif %}

            <div>
                {% if obj.image %}
                <div>
                    <img src="{{ obj.image.url }}" alt="{{ obj.title }}" width="300">
                </div>
                {% endif %}
                
                <div>
                    <p>Цена: {{ obj.price }}</p>
                    <p>Локация: {{ obj.location }}</p>
                    
                    <div>
                        Категории: 
                        {% for category in obj.category.all %}
                        <span>{{ category.name }}</span>
                        {% endfor %}
                    </div>
                    
                    <p>{{ obj.description }}</p>
                </div>
                {% if user|is_client %}
                    <div>
                        <a href="{% url 'real_estate:detail' obj.slug %}">Купить</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}