{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <h2 >Добавить новый объект недвижимости</h2>
    
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        
        {{ form.as_p }}

        <div>
            <button type="submit">
                <i>Создать объект</i>
            </button>
            <a href="{% url 'real_estate:catalog' %}">
                Отмена
            </a>
        </div>
    </form>
</div>
{% endblock %}