{% extends 'base.html' %}
{% load user_tags %}

{% block content %}
    {% if user|is_employee or user|is_admin %}
        <h2>Продажи</h2>
        <ul>
            {% for sale in sales %}
            <li>
                <a href="{% url 'real_estate:detail' sale.real_estate_object.slug %}">{{ sale.real_estate_object }}</a>
                продан клиенту
                <a href="{% url 'users:user_profile' sale.client.username %}">{{sale.client.username}}</a>
                в {{ sale.sale_date }}
                
            </li>
            {% endfor %}
        </ul>

        <a href="{% url 'users:profile' %}">Вернуться</a>
    {% else %}
        Нет доступа
    {% endif %}
{% endblock %}